# Server Configurations
HOST=localhost
PORT=3000

# Database Configurations
PGUSER=your_database_user
PGHOST=localhost
PGPASSWORD=your_database_password
PGDATABASE=notesapp
PGPORT=5432

# JWT Configurations
ACCESS_TOKEN_KEY=your_access_token_secret_key
REFRESH_TOKEN_KEY=your_refresh_token_secret_key
ACCESS_TOKEN_AGE=1800

# RabbitMQ Configurations
RABBITMQ_SERVER=amqp://localhost

# Redis
REDIS_SERVER=127.0.0.1
